body{
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header{
    color:white;
    background-color: darkblue;
    height:6rem;
    display:flex;
    align-items: center;
    padding: 0 150px;
    box-sizing:border-box;
    justify-content: space-between;
    font-weight: 600;
}

.header p {
    font-size: 2rem;
}

.links{
    display: flex;
    gap: 1.5rem;
    font-size: 1.25;
}

.links a{
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 15px;
    background-color: white;
    margin: 8px;
    padding: 10px 25px 10px 25px;
    color: black;
}

.links a:hover{
    background-color: lightgray;
}

.capaimg{
    width:100vw;
    margin-bottom: 4rem;
}

.conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 400px 0px 400px;
    width: calc(100vw - 800px);
    box-sizing: border-box;
}

.conteudo__part{
    margin: 0 0 4rem 0;
}

.conteudo__part p{
    font-size: 1.5rem;
}

.conteudo__part h1{
    font-size: 2.5rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.conteudo p{
    line-height: 30px;
}

.conteudo .tvimg{
    width:100%;
}

.roll-de-imagens{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    height: 200px;
}

.roll-de-imagens img{
    margin: 0 10px 10px 10px;
    box-shadow: 5px 5px 10px gray;
}

.rodape{
    text-align: center;
    color: white;
    background-color: blue;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.rodape p{
    margin: 0;
}

.link-hbo{
    text-decoration: none;
}
